---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
// Sort posts by publication date, newest first
const sortedPosts = allPosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const pageTitle = "Blog Archive";
const description = "List of blog posts";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <p>
    <a class="text-faded" href="/blog"
      ><span aria-hidden="true">&larr;</span> Blog</a
    >
  </p>

  <h1>{pageTitle}</h1>

  <ul>
    {
      sortedPosts.map((post: any) => (
        <BlogPost
          date={post.data.pubDate}
          url={`/posts/${post.id}/`}
          title={post.data.title}
        />
      ))
    }
  </ul>
</BaseLayout>
