---
const { date, url, title } = Astro.props;
const d = new Date(date);
const formattedDate = `${d.getFullYear()} ${d.toLocaleDateString('en-US', { month: 'short' })} ${d.getDate()}`;
---

<li>
  {formattedDate}: <a href={url}>{title}</a>
</li>
