---
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  pageTitle: string;
  description?: string;
}

const { pageTitle, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <script is:inline src="/scripts/theme-init.js"></script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href="{canonicalURL}" />
    {description && <meta name="description" content="{description}" />}
    {description && <meta property="og:description" content="description" />}
    <meta property="og:title" content="{pageTitle}" />
    <meta property="og:url" content="{canonicalURL}" />
    <meta property="og:type" content="website" />
    <title>{pageTitle}</title>
  </head>

  <body class="min-w-xs">
    <Header />

    <main
      class="mx-auto animate-fade-in px-4 text-sm leading-normal sm:max-w-2xl sm:px-6 sm:text-base md:max-w-3xl">
      <slot />
    </main>

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
