---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;

function formatDate(date: Date): string {
  const d = new Date(date);
  return `${d.getFullYear()} ${d.toLocaleDateString("en-US", { month: "short" })} ${d.getDate()}`;
}
---

<BaseLayout pageTitle={frontmatter.title}>
  {
    frontmatter.description && (
      <p>
        <em>{frontmatter.description}</em>
      </p>
    )
  }

  <p class="text-meta mb-1 tracking-wide uppercase">
    {formatDate(frontmatter.pubDate)}
  </p>

  {
    frontmatter.image && (
      <img
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image.alt}
      />
    )
  }

  <slot />

  <div class="flex flex-wrap">
    Tags:
    {
      frontmatter.tags.map((tag: string) => (
        <span class="px-1">
          <a href={`/tags/${tag}`}>{tag}</a>
        </span>
      ))
    }
  </div>
</BaseLayout>
